---
import headImg from "../media/head.png";
import {Image} from "astro:assets";
---

<section class="mb-8">
    <div class="mb-6">
        <h1
                class="font-bold text-text-heading text-center text-4xl md:text-5xl pt-4 pb-2 overflow-hidden"
        >
      <span
              class="
            bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:90%_40%]
            from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue
        "
      >
        ZhuLegend's Blog
      </span>
        </h1>
    </div>
    <div>
        <div class="content-center text-center md:flex flex-row items-center">
            <Image src={headImg}
                   class="w-36 h-36 md:w-44 md:h-44 my-0 mx-auto object-contain aspect-square rounded-full flex-auto md:shrink-0"
                   alt="作者卡通头像"
            />
            <div class="flex-auto">
                <strong>你好～欢迎来到我的博客</strong>
                <p>这里会不定时更新Python、Swift的语言/框架相关技术博客和我的个人随感</p>
                <p>更多详情可以查看<a href="/blog/博客介绍">这篇博客</a></p>
            </div>
        </div>
    </div>
</section>
